#zakaze vypis souboru ve slozce na webu, zvenku budou skryty
Options -Indexes

# presmerovani vzdy na index.php
RewriteEngine On
# RewriteBase /
# urcuje, ze se nema presmerovavat, pokud slozka existuje
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(css|js|icon|zip|rar|png|jpg|gif|pdf)$ index.php [L]

AddType application/x-httpd-php .php .phtml
